<div class="fragmentAdminFooterBox" data-th-fragment="admin_footer">
<table class="fragmentAdminFooterTable">
    <tr>
        <td class="fragmentAdminFooterLeft">
            <small>&#160;&#160;&#169; Copyright 2024 Bote</small>
        </td>
        <td>
            <div class="fragmentAdminFooterCenter">
                <span data-th-text="${zeitstempel}">From Bote</span>
            </div>
        </td>
        <td class="fragmentAdminFooterRight">
            <span>Version: <small data-th-text="${@environment.getProperty('info.version')}"></small>&#160;&#160;</span>
        </td>
    </tr>
</table>
</div>