<div class="fragmentUserFooterBox" data-th-fragment="user_footer">

    <div>&#160;</div>

<div class="fragmentUserFooter">

    <div style="width: 20px;">&#160;</div>

    <div class="userFooterText">
        <h4>Bote</h4>
        <p>Bote ist eine cloudbasierte mobile und <br>
            Desktop-Messaging-App mit Fokus auf <br>
            Sicherheit und Geschwindigkeit.</p>
    </div>

    <div>
        <h4>About</h4>
        <a data-th-href="@{/home?path=faq}">FAQ</a>
        <a data-th-href="@{/home?path=privatsphere}">Privatsph&#228;re</a>
        <a data-th-href="@{/home?path=uberuns}">&#220;ber uns</a>
    </div>

    <div>
        <h4>Mobile Apps</h4>
        <a data-th-href="@{/home?path=iphone}">iPhone/iPad</a>
        <a data-th-href="@{/home?path=android}">Android</a>
        <a data-th-href="@{/home?path=mobileweb}">Mobile Web</a>
    </div>

    <div>
        <h4>Desktop Apps</h4>
        <a data-th-href="@{/home?path=pcmaclinux}">PS/Mac/Linux</a>
        <a data-th-href="@{/home?path=macos}">MacOS</a>
        <a data-th-href="@{/home?path=webbrowser}">Web-Browser</a>
    </div>

    <div>
        <h4>Platform</h4>
        <a data-th-href="@{/home?path=api}">API</a>
        <a data-th-href="@{/home}">Leer</a>
        <a data-th-href="@{/admin}">Admin</a>
    </div>
    <div style="width: 20px;">&#160;</div>
</div>

    <div>&#160;</div>

<div class="fragmentUserFooterCopy">
    <table>
        <tr>
            <td width="200">
                &#160;&#160;<small class="Gray">&#169;&#160;Copyright 2024 Bote</small>
            </td>
            <td align="center"></td>
            <td width="200" align="right">&#160;&#160;</td>
        </tr>
    </table>
</div>

</div>