<div class="userHeader" data-th-fragment="user_header">
  <table class="userHeaderTable">
    <tr>
      <!-- 1(left) -->
      <td class="userHeaderTdWidth">
        &#160;&#160;
        <a data-th-href="@{/home}">
          <img data-th-src="@{/img/hiob.svg}" width="48" height="48">
        </a>
      </td>

      <!-- 2 -->
      <td class="userHeaderTdWidth homeTdCenter">&#160;</td>

      <!-- 3(Center) -->
      <td class="userHeaderTdCenter">
        <h3>Hiobs Post</h3>
      </td>

      <!-- 4 -->
      <td class="userHeaderTdWidth homeTdCenter">
        &#160;&#160;
      </td>

      <!-- 5(right) -->
      <td class="userHeaderTdWidth homeTdCenter">&#160;</td>
    </tr>
  </table>
</div>