<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

    <head data-th-insert="~{/fragments/globalhead :: global_head}"></head>

<body>

<div class="homeContainer">

    <!-- Header -->
    <header data-th-insert="~{/fragments/userheader :: user_header}"></header>

    <!-- Freie Zone, hier wird aller susgegeben -->

    <article class="homeArticle">

        <div style="padding: 50px; color: red; border: 1px solid #F2F2F2; border-radius: 6px;">
            <h3 align="center">nur für Versuch zwecke angelegt!!!</h3>
        </div>
        <br><br>

        <!--
            * ACHTUNG: statt switch könnte varscheilich den if von thymeleaf benutzen
            * z.b.s <div data-th-insert="~{/fragments/boxmenu :: ${path} }"></div>
            * nicht getested
        -->

        <th:block th:switch="${path}">
            <div th:case="'faq'">
                <h3 align="center" class="fire">FAQ Fragment Includen</h3>
                <p align="center">Diese FAQ bietet Antworten auf grundlegende Fragen zu hiopspost.
                    Weitere technische Informationen finden Sie in unseren erweiterten FAQ.</p>
            </div>
            <div th:case="'privatsphere'">
                <h3 align="center" class="fire">Privatsphäre Fragment INCLUDEN</h3>
            </div>
            <div th:case="*">
                <h3 align="center" class="fire">Home Seite INCLUDEN</h3>
            </div>
        </th:block>

    </article>

    <!--  <aside class="homeAside">
        <span>seiten ausgabe</span>
    </aside>-->

    <!-- Ende frei Zone -->


    <!-- Footer Platz Halter -->
    <div class="footerPlatzhalter">&#160;</div>

</div><!-- ende homeContainer -->

<!-- Footer -->
<footer data-th-insert="~{/fragments/userfooter :: user_footer}"></footer>


</body>
</html>