<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>

    <title>Message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/img/horn.png" rel="icon" sizes="32x32" type="image/png">
    <link data-th-href="@{/css/style.css}" rel="stylesheet">

</head>
<body>

    <h3 align="center"> Message Server</h3>
    <br>
    <br>
    <br>
    <br>
    &#160;&#160;<a data-th-href="@{/home}">Zurück zum Home</a>

</body>
</html>